<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Jess Robertson" />
    <link href="http://feeds.feedburner.com/jessrobertson" rel="alternate" title="Jess Robertson" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
    <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
</head>
<body>
    <div class="site">
        <div class="title"><a href="/">
            <table width=100%><tr><td align='left' width=80%>
                <em>datamining | miningdata</em>
            </td><td align='right' width=19%>
                <a href="https://twitter.com/intent/tweet?screen_name=jesserobertson" title="Tweet at Jess">@jesserobertson</a>
            </td></tr></table>
        </a></div>
        {{ content }}
        <div class="footer">
            <div class="contact">
                <p>
                    Jess Robertson<br/>
                    Junior Data Monkey<br/>
                    &#106;&#101;&#115;&#115;&#101;&#46;&#114;&#111;&#98;&#101;&#114;&#116;&#115;&#111;&#110;&#64;&#99;&#115;&#105;&#114;&#111;&#46;&#97;&#117;
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://github.com/jesserobertson/">github</a><br />
                    <a href="http://twitter.com/jesserobertson/">twitter</a><br />
                    <a href="http://linkedin.com/in/robertsonjess/">linkedin</a>
                </p>
            </div>
            <div class="rss">
                <img src="/images/avatar.jpg" width=70>
            </div>
        </div>
    </div>
</body>
<html>